<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866597718104-3sf9dvbfroubsst4alagc224ht0vih8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866597718104-3sf9dvbfroubsst4alagc224ht0vih8v</string>
	<key>API_KEY</key>
	<string>AIzaSyC428bnu5a_IfHkr5D_ddVOn5NUqDiyLYc</string>
	<key>GCM_SENDER_ID</key>
	<string>866597718104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Doogie.LOARANG</string>
	<key>PROJECT_ID</key>
	<string>loarang-ebc2e</string>
	<key>STORAGE_BUCKET</key>
	<string>loarang-ebc2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:866597718104:ios:73bf5de12a6944e8aee22d</string>
	<key>DATABASE_URL</key>
	<string>https://loarang-ebc2e-default-rtdb.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4143146215451138~3893627529</string>
</dict>
</plist>
